body {
    background-color: black;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --a: 0
}

.left {
    width: 20vw;
    padding: 10px;
}

.right {
    width: 80vw;
}

.home ul li {
    display: flex;
    gap: 11px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 11px;
    width: 100%;
    list-style: none;
    padding: 23px 14px;
    padding-top: 14px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

.heading img {
    width: 30px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.footer {
    display: flex;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    gap: 13px;
    color: grey;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.right {
    position: relative;
}

.library {
    min-height: 80vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 13px;
}

.spotify-playlists {
    padding: 16px;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    transition: all 0.5s ease-out;
    position: relative
}

.CardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 70vh;
    overflow-y: auto;
}

.card img {
    width: 100%;
    height: 70%;
    object-fit: contain;
}

.card>* {
    padding-top: 10px;
}

.play {
    display: flex;
    position: absolute;
    opacity: var(--a);
}

.card:hover {
    cursor: pointer;
    --a: 1;
    background-color: rgb(92, 92, 92);
}

.card:hover .play {
    opacity: 1;
    transition: all 1s ease-out;

}

.button>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(82, 82, 82);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;

}

.loginbtn {
    width: 79px;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 21px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
}

.abovebar {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.playbar {
    position: fixed;
    bottom: 40px;
    background-color: rgb(136, 157, 136);
    width: 75%;
    padding: 12px;
    border-radius: 7px;
    height: 70px;
}

.songbuttons {
    top: 50px;
    left: 45%;
    position: absolute;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.close {
    display: none;
}

.songinfo,
.songtime {
    color: black;
}

.songinfo {
    justify-content: left;
}

.songlist {
    height: 470px;
    overflow-y: auto;
    margin-bottom: 33px;
}

.songlist ul {
    padding: 0 5px;
}

.info div {
    word-break: break-all;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    gap: 34px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
}

.volume {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: top;
}

.seekbar {
    width: 97%;
    background: black;
    height: 3px;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.hamburger {
    display: none;
}

@media (max-width:1400px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all 0.5s ease-in;
        z-index: 1;
        width: 350px;
        background-color: black;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;

    }

    .close {
        display: block;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        font-size: 17px;
        width: 90%
    }

    .seekbar {
        width: calc(100%-70px)
    }

    .hamburger {
        display: inline-block;
    }



    .CardContainer {
        display: flex;
        justify-content: center;
        margin: 0;
    }
}